@mixin flexBox($x,$y) {
    display: flex;
    justify-content: $x;
    align-items: $y;
}

@mixin underline {
    &:after{
        content:' ';
        display: block;
        position: absolute;
        top: 100%;
        left: 0;
        width: 0px;
        height: 3px;
        background-color:rgb(60, 124, 214);
        transition: 0.3s ease-in-out;
    }
    &:hover{
        &::after{
            width: 100%;
        }
    }
}
